@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* === КРАСИМ ВЕСЬ ФОН И ЗАДАЕМ БАЗОВЫЙ ЦВЕТ ТЕКСТА === */
@layer base {
  html, body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Запрещаем странице дергаться при исчезновении скроллбара в Select/Modal */
html {
  scrollbar-gutter: stable;
}

body[data-scroll-locked] {
  margin-right: 0px !important;
  padding-right: 0px !important;
}